{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>BHP-DMC</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900"
	rel="stylesheet">
<link rel="stylesheet" href="{% static 'se_dmc/fonts/icomoon/style.css' %}">

<link rel="stylesheet" href="{% static 'se_dmc/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'se_dmc/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'se_dmc/css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'se_dmc/css/owl.carousel.min.css' %}">
<link rel="stylesheet"
	href="{% static 'se_dmc/css/owl.theme.default.min.css' %}">

<link rel="stylesheet"
	href="{% static 'se_dmc/css/bootstrap-datepicker.css' %}">

<link rel="stylesheet"
	href="{% static 'se_dmc/fonts/flaticon/font/flaticon.css' %}">

<link rel="stylesheet" href="{% static 'se_dmc/css/aos.css' %}">

<link rel="stylesheet" href="{% static 'se_dmc/css/style.css' %}">

</head>
<body>

	<div class="site-wrap">

		<div class="site-mobile-menu">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>

		<div class="border-bottom top-bar py-2">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p class="mb-0">
							<span class="mr-3"><strong>Phone:</strong> <a
								href="tel://#">+267 3902671</a></span> <span><strong>Email:</strong>
								<a href="#">se-dmc@gmail.com</a></span>
						</p>
					</div>

				</div>
			</div>
		</div>
		<header class="site-navbar py-4 bg-white" role="banner">
			<div class="container">
				<div class="row align-items-center">

					<div class="col-11 col-xl-2">
						<h1 class="mb-0 site-logo">
							<a href="" class="text-black h2 mb-0">SE-DMC</a>
						</h1>
					</div>
					<div class="col-12 col-md-10 d-none d-xl-block">
						<nav class="site-navigation position-relative text-right"
							role="navigation">

							<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
								<li><a href="{% url 'home_url' %}">Home</a></li>
								<li><a href="{% url 'work' %}">Work</a></li>
								<li><a href="{% url 'services' %}">Services</a></li>
								<li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'contact' %}">Contact</a></li>
								<li class="has-children"><a href="{% url 'policy' %}">Policy</a>
									<ul class="dropdown">
										<li><a href="{% url 'policy' %}">BHP Policy</a></li>
										<li><a href="{% url 'document' %}">Documents </a></li>
									</ul></li>
								<li class="has-children"><a href="{% url 'services' %}">Other Links</a>
									<ul class="dropdown">
										<li><a href="http://utility-systems.bhp.org.bw:8000" target="_blank">BHP Utility System</a></li>
										<li><a href="https://www.redmine.org/" target="_blank">BHP RedMine </a></li>
										<li><a href="https://github.com/botswana-harvard" target="_blank">BHP Git Hub</a></li>
										<li><a href="https://bhp.org.bw/" target="_blank">BHP Website</a></li>
									</ul></li>
							</ul>
						</nav>
					</div>


					<div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3"
						style="position: relative; top: 3px;">
						<a href="#" class="site-menu-toggle js-menu-toggle text-black"><span
							class="icon-menu h3"></span></a>
					</div>

				</div>
			</div>
		</header>

		{% block content %}{% endblock %}
		
		{% block footer %}
		<footer class="site-footer">

							<p>
							<div align="center" >
                                <font color="white">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>
									document.write(new Date().getFullYear());
								</script>
								All rights reserved | This web-application was developed with  <a
									href="https://www.djangoproject.com/" target="_blank">Django</a>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </font>
                            </div>
							</p>

		</footer>
		{% endblock %}
	</div>

	<script src="{% static 'se_dmc/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'se_dmc/js/jquery-migrate-3.0.1.min.js' %}"></script>
	<script src="{% static 'se_dmc/js/jquery-ui.js' %}"></script>
	<script src="{% static 'se_dmc/js/popper.min.js' %}"></script>
	<script src="{% static 'se_dmc/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'se_dmc/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'se_dmc/js/jquery.stellar.min.js' %}"></script>
	<script src="{% static 'se_dmc/js/jquery.countdown.min.js' %}"></script>
	<script src="{% static 'se_dmc/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'se_dmc/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'se_dmc/js/aos.js' %}"></script>

	<script src="{% static 'se_dmc/js/typed.js' %}"></script>
	<script>
		var typed = new Typed('.typed-words', {
			strings : [ "Web Apps", " Django Framework", " Mobile Apps" ],
			typeSpeed : 80,
			backSpeed : 80,
			backDelay : 4000,
			startDelay : 1000,
			loop : true,
			showCursor : true
		});
	</script>

	<script src="{% static 'se_dmc/js/main.js' %}"></script>
</body>
</html>
