{% extends "main_index.html" %}

{% block content %}
	{% load static %}
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({% static 'se_dmc/images/hero_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                        
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1>Ambition</h1>
                <p class="lead mb-5">AMBIsome Therapy Induction OptimizatioN</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <section class="site-section">
      <div class="container">
        <div class="row">

          <div class="col-md-8">
            <h1>Ambition (AMBIsome Therapy Induction OptimizatioN)</h1>

            <p>Ambition is also known as High Dose AMBISOME on a Fluconazole Backbone for Cryptococcal Meningitis Induction Therapy in sub-Saharan Africa:
              A Randomised Controlled Non-inferiority Trial. It is a four-year project, it runs from 1 January 2017 – 31 December 2020 across
              a consortium of six African and five European partners.

              <br/><br/>Crytococcal meningitis is a leading cause of death in HIV-infected individuals in Africa.
              This is because the currently recommended drug, amphotericin B deoxycholate(D-AmB) requires at least
              7 days of intravenous infusions given in hospital, making it difficult and costly to administer. It also
              causes many side effects including kidney impairment and anaemia hence making close laboratory monitoring essential.
              <br/><br/>A modified form of amphotericin B, liposomal amphotericin B (Ambisome or L-AmB)
                considerably less toxic than D-AmB, is known to be efficacious in treatment of cryptococcal meningitis.
              Its use has been limited by the high cost of therapy, but recent data suggest that much shorter courses of
              L-AmB may be effective in the treatment of cryptococcal meningitis. Due to its lower toxicity, higher doses of L-AmB can be given
              safely, and it also persists for a long time in the tissues, raising the possibility of delivering highly
              effective induction therapy with just a single dose. A large reduction in the number of doses and
              duration of hospitalisation, together with reduced pricing of L-AmB, may result in cryptococcal
              meningitis treatment costs that are not more than those with 1 week of conventional amphotericin B
              deoxycholate, and provide a convenient, safe and efficacious alternative to conventional amphotericin
              B therapy.

              <br/><br/>This study aims to define a new easy to administer, effective, and cost-effective schedule for L-AmB
              use in the treatment of cryptococcal meningitis. A preliminary small study has shown that a single high
              dose of L-AmB is as effective at clearing cryptococcal infection from the cerebrospinal fluid (CSF) as
              14-day courses. This study will determine whether a single high dose of L-AmB is as effective as the
              standard treatment in terms of preventing deaths from cryptococcal meningitis.
            <a href="https://gaborone.ambition.clinicedc.org" target="_blank">see Ambition page</a> </p>
		</div>

        </div>
      </div>
    </section>
{% endblock %}
