{% extends "main_index.html" %}

{% block content %}
	{% load static %}
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({% static 'se_dmc/images/hero_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                        
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1>BCPP</h1>
                <p class="lead mb-5">Botswana Combination Prevention Project</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>  
    
    <section class="site-section">
      <div class="container">
        <div class="row">

          <div class="col-md-8">
            <h1>BCPP</h1>
            <p>Botswana Combination Prevention Project is a community randomized trial (15 intervention and 15 control communities) evaluating the impact of prevention including early and universal ART on HIV incidence.<br/>
            <br/>
              <b>The primary Research Objectives:</b><br/>
              •To significantly reduce population-level,cumulative HIV incidence in adults over approximately 30 months<br/>
              •To estimate population-level coverage of Knowledge of HIV-positive status, Treatment and Viral Suppression.  <br/>
               •To Pair-match community-randomized trial in 30 communities in Botswana(15 intervention and 15 standard of care)<br/>
               •To evaluate the impact of a package of HIV prevention and treatment interventions on population-level HIV incidence<br/><br/>
              <b>System Uses</b><br/>
                Linkage to care support:<br/>
                •scheduled clinic appointment<br/>
                •SMS reminder<br/>
                •record appointments and active tracing if missed appointment<br/>
                <a href="https://td-live.bhp.org.bw/" target="blank">see BCPP website</a>  </p>
          </div>

        </div>
      </div>
    </section>
{% endblock %}
