{% extends "main_index.html" %}

{% block content %}
	{% load static %}
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({% static 'se_dmc/images/hero_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                        
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1>Electronic data capture</h1>
                <p class="lead mb-5"></p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>  
    
    <section class="site-section">
      <div class="container">
        <div class="row">

          <div class="col-md-8">
          <h1>EDC</h1>
          <p>An electronic data capture (EDC) system is a computerized system
             designed for the collection of clinical data in electronic format
             for use mainly in human clinical trials.[1] EDC replaces the traditional
             paper-based data collection methodology to streamline data collection
             and expedite the time to market for drugs and medical devices. EDC
             solutions are widely adopted by pharmaceutical companies and contract
             research organizations (CRO).<br/><br/>

            
            <h1>EDC Features</h1><br/>
             &#x2022 A graphical user interface component for data entry<br/>
             &#x2022 Has validation component to check user data
              <br/>
             &#x2022 reporting tool for analysis of the collected data<br/>
             

          </div>

        </div>
      </div>
    </section>
{% endblock %}
