{% extends "main_index.html" %}

{% block content %}
	{% load static %}
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({% static 'se_dmc/images/hero_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">
                        
            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1>Tshilo_Dikotla</h1>
                <p class="lead mb-5">We Make Beautiful Things</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>  
    
    <section class="site-section">
      <div class="container">
        <div class="row">

          <div class="col-md-8">
          <h1>Tshilo_Dikotla</h1>
          <p>Tshilo_Dikotla is a prospective cohort study with a nested randomized component investigating the <br/>
            early longitudinal metabolic effects of in utero HIV/antiretrovirals among HIV-exposed (HEU) children
            compared to HIV-unexposed uninfected (HUU) children in Botswana<br/><br/>
            If in utero and neonatal HIV/ARV exposures are found to be associated with derangements in intermediary
            metabolism such that HEU infants are at increased
            risk for insulin resistance by 3 years of age, this would impact screening and prevention
            strategies for diabetes in this vulnerable population and argue for further research to identify
            prenatal and neonatal ARV regimens with superior PMTCT efficacy but minimal adverse metabolic consequences.<br/><br/>

            Pregnant woman/child dyads will be enrolled antenatally [16-36 weeks gestational age (GA)] and mother/child dyads will be followed through the child’s 3rd year of life. The entire study duration will be 5 years.<br/><br/>
            <b>The primary objectives of this study are:</b><br/>
            •To assess the early longitudinal metabolic effects including insulin sensitivity in HIV-exposed uninfected
            <br/>(HEU) children compared to HIV-unexposed uninfected (HUU) children<br/>
            •To determine differences in the effects of neonatal zidovudine (AZT) vs. nevirapine (NVP) prophylaxis on <br/>
            early longitudinal changes in insulin sensitivity in the first 3 years of life.  <br/><a href="https://td-live.bhp.org.bw/">see Tshilo_Dikotla page</a></p>
          </div> 

         <div class="col-md-3 ml-auto">
            <div class="mb-5">
              <h3 class="h5 text-black mb-3">Search</h3>
              <form action="#" method="post">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
                </div>
              </form>
            </div>

            <div class="mb-5">
              <h3 class="h5 text-black mb-3">UpComing Projects</h3>
              <ul class="list-unstyled">
                <li class="mb-2"><a href="#">BHP Utility System</a></li>
                <li class="mb-2"><a href="#">BHP Registry System</a></li>
                <li class="mb-2"><a href="#">Maiores sapiente veritatis reprehenderit</a></li>
                <li class="mb-2"><a href="#">Natus eligendi nobis</a></li>
              </ul>
            </div>

          </div>

        </div>
      </div>
    </section>
{% endblock %}
